<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776263851617-h2f5uad6tpek8m5kla6ise2d7jt2b1ls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776263851617-h2f5uad6tpek8m5kla6ise2d7jt2b1ls</string>
	<key>API_KEY</key>
	<string>AIzaSyBnWDQvt1-IEgbmSXO6ZXUoHHzLKf2B8zY</string>
	<key>GCM_SENDER_ID</key>
	<string>776263851617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ogchat</string>
	<key>PROJECT_ID</key>
	<string>ogs-chatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ogs-chatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776263851617:ios:069dfaaaa5a47f6bb49420</string>
</dict>
</plist>